.home_wrap {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  padding-top: 55px;
  background-color: #fff;

  .home_top {
    width: 100%;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    padding: 0 100px 0 320px;
    display: flex;
    height: 55px;
    justify-content: space-between;
    align-items: center;
    background: #fff url('../../assets/images/logo.jpg') no-repeat 100px 0;
    background-size: 77px 55px;
    border-bottom: 1px solid #ddd;

    .left_top {
      .r60 {
        padding-right: 60px;
        color: #1DA57A;

        .home_icon {
          margin-right: 10px;
        }
      }
    }

    .right_top {
      .btn {
        margin-left: 20px;
      }

      .login_btn {
        cursor: pointer;
        color: #999;
      }
    }
  }

  .home_content {
    width: 900px;
    margin: 25px auto 0 auto;

    .carousel {
      width: 900px;
      height: 350px;
      margin: 0 auto 10px auto;

      .carouselImg {
        width: 900px;
        height: 350px;
        border-radius: 10px;
      }
    }

    .list_item {
      display: flex;
      border-bottom: 1px solid #ddd;
      padding: 25px 0;
      justify-content: space-between;
      align-items: center;

      .title,
      .author {
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }

      .title {
        font-size: 24px;
      }

      .img {
        width: 250px;
        height: 150px;
        border-radius: 10px;
        margin-left: 50px;
        cursor: pointer;
      }

      .list_item_left {
        width: 600px;
      }
    }
  }
}